body {
  background: #eee;
  font-family: Georgia;
  margin: 0;
  padding: 50px;
}

h1 {
  font-weight: 300;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.searchInput {
  border: 3px solid #96312e;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  color: #d1675a;
  font-size: 18px;
}

.searchInput:focus {
  color: #96312e;
}

.searchSubmit {
  position: relative;
  left: -6px;
  border: 3px solid #96312e;
  background: #96312e;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

.searchSubmit:hover {
  background: #fff;
  color: #96312e;
}

.viewSavedGems {
  color: #96312e;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border: none;
  background: transparent;
  outline: none;
  display: block;
  margin: 0 auto;
}

.viewSavedGems:hover {
  color: #d1675a;
  text-decoration: underline;
}

.searchResults {
  margin-top: 50px;
}

.searchResults > div {
  border-bottom: 1px solid #d1675a;
}

.searchResults .gemTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchResults h2 {
  color: #96312e;
  word-break: break-word;
  margin-right: 20px;
}
.searchResults span {
  color: #000;
  font-size: 12px;
  margin-left: 15px;
  word-break: initial;
}

.searchResults .gemButton {
  border: 1px solid #96312e;
  color: #96312e;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  background: transparent;
  outline: none;
}

.searchResults .gemButton:hover {
  border-color: #d1675a;
  color: #d1675a;
}

.searchResults p {
  line-height: 1.4;
  font-size: 14px;
}

.noResults {
  text-align: center;
  font-size: 14px;
}
